---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  creationTimestamp: null
  name: ack-applicationautoscaling-reader
  namespace: default
rules:
- apiGroups:
  - applicationautoscaling.services.k8s.aws
  resources:
  - scalabletargets
  - scalingpolicies
  - scheduledactions
  verbs:
  - get
  - list
  - watch
